# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
/java-template/.idea
cpp-template/main.ll
/cpp-template/main.dSYM
/.vscode
java-template
java-swing-examples
cpp-template/main
Extra
cpp-benchmark-template
